{% extends 'base.html.twig' %}

{% block title %}New Productos{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Nuevo Producto</h1>
            <ol class="breadcrumb">
                <li><a href="">Inicio </a></li>/
                <li><a href="{{ path('productos_index') }}">Productos </a></li>/
                <li class="active">Listado de Categorias</li>
            </ol>
        </div>
    </div>
    <div class="row">
        {{ include('productos/_form.html.twig') }}
    </div>
</div>
{% endblock %}
