{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Editar Producto</h1>
            <ol class="breadcrumb">
                <li><a href="">Inicio </a></li>/
                <li><a href="{{ path('products_index') }}">productos </a></li>/
                <li class="active">Listado de productos</li>
            </ol>
        </div>
    </div>
    <div class="row">
        {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
