{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Editar Categoria</h1>
            <ol class="breadcrumb">
                <li><a href="">Inicio </a></li>/
                <li><a href="{{ path('category_index') }}">Categorias </a></li>/
                <li class="active">Listado de Categorias</li>
            </ol>
        </div>
    </div>
    <div class="row">
        {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
